<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Validation examen 2 - révision B</title>

    <style>
        body, html {
            margin: 0px;
            background-color: #cb864c;
        }

        #page_container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #1b2838;
            color: #ffffff;
        }

        #center_container {
            text-align: center;
        }
    </style>
</head>

<body>

    <div id="page_container">

        <div id="center_container">
            <h1>Merci d'avoir activé le produit suivant: </h1>
            <img src="{{image_url}}" alt="">
            <h2>{{nom_jeux}}</h2>
        </div>
        
    </div>
    
</body>

</html>

